@using System.Data
@model PronabPal.Models.ChangeUserPasswordModel
@{
    ViewBag.Title = "ChangePasswordUser";
    Layout = "~/Views/Shared/_LayoutAfterDashboardView.cshtml";
}

<div class="spot-details-message" style="min-height:350px;">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
								<h2><span>Change password</span></h2>
                                @using (Html.BeginForm("ChangePasswordUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                                if (TempData.Count > 0)
                            {
                                if (TempData["changepasswordERROR"] != null && !string.IsNullOrWhiteSpace(TempData["changepasswordERROR"].ToString()))
                                {
                                <div class="alert alert-danger fade in" style="margin-top: 15px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="glyphicon glyphicon-ban-circle alert-icon"></i><strong>Oh snap!</strong> @TempData["changepasswordERROR"]
                                </div>
                                }
                                if (TempData["changepasswordSUCCESS"] != null && !string.IsNullOrWhiteSpace(TempData["changepasswordSUCCESS"].ToString()))
                                {
                                <div class="alert alert-success fade in" style="margin-top: 15px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <i class="fa fa-check alert-icon"></i><strong>Success</strong> @TempData["changepasswordSUCCESS"]
                                </div>
                                }
                            }
								
									<div class="row">
										<div class="col-md-12 col-xs-12">
											<div class="form-group">
												<label>Enter your Old Password</label>
												
                                                  @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter Old Password * ", @required = "true" })
                                        <span style="color: red">@Html.ValidationMessageFor(model => model.Password)</span>
											</div>
											<div class="form-group">
												<label>Enter your New Password</label>
												 @Html.PasswordFor(model => model.newPass, new { @class = "form-control", @placeholder = "Enter New Password * ", @required = "true" })
                                        <span style="color: red">@Html.ValidationMessageFor(model => model.newPass)</span>
											</div>
											<div class="form-group">
												<label>Reenter your New Password</label>
												  @Html.PasswordFor(model => model.Confirm_Password, new { @class = "form-control", @placeholder = "Confirm Password * ", @required = "true" })
                                        <span style="color: red">@Html.ValidationMessageFor(model => model.Confirm_Password)</span>
											</div>
										</div>
										
										<div class="col-md-12 col-sm-12 col-xs-12 text-center">
											<input type="submit" value="Update">
										</div>
									</div>
								
                                }
							</div>
						</div>
					</div>
