@model PronabPal.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="pronaplefts01">
       
      <div class="logos01">
        <a href="JavaScript:void(0)">
          <img src="@Url.Content("~/Content/Home/image/logos01.png")" alt="Pronab Pal Space">
        </a>
        <h2>Reset Password</h2>
      </div>
      <div class="clearfix"></div>
        <div class="pronoforms01">
            @if (TempData.Count > 0)
                {
                    if (TempData["forgotsuccess"] != null && !string.IsNullOrWhiteSpace(TempData["forgotsuccess"].ToString()))
                    {
                    <div class="alert alert-success fade in" style="margin-top: 15px;text-align: left;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="width: auto;padding: 0;background: transparent;color: #000;">×</button>
                        <i class="fa fa-check icon"></i>@TempData["forgotsuccess"]
                    </div>
                    }
                    if (TempData["forgoterror"] != null && !string.IsNullOrWhiteSpace(TempData["forgoterror"].ToString()))
                    {
                    <div class="alert alert-danger fade in" style="margin-top: 15px;text-align: left;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="width: auto;padding: 0;background: transparent;color: #000;">×</button>
                        <i class="fa fa-close icon"></i>@TempData["forgoterror"]
                    </div>
                    }
                }
             @using (Html.BeginForm("ResetPassword", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

          <div class="row">
            <div class="col-sm-12">
              <p>New Password<span>*</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
             
                 @Html.PasswordFor(model => model.Password, new { @class = "input-text", @placeholder = "Enter new password", @required = "required", @maxlength = "12" })
                                <small style="color:red;">@Html.ValidationMessageFor(model => model.Password)</small>
            </div>
          </div>
                 
                 <div class="row">
            <div class="col-sm-12">
                 @Html.HiddenFor(model => model.Email)
                                @Html.HiddenFor(model => model.User_Id)
              <p>Confirm Password<span>*</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
             
                 @Html.PasswordFor(model => model.Confirm_Password, new { @class = "input-text", @placeholder = "Re enter new password", @required = "required", @maxlength = "12" })
                                <small style="color:red;">@Html.ValidationMessageFor(model => model.Confirm_Password)</small>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12">
              <button type="submit">Reset Password</button>
            </div>
          </div>
                 
             }
        </div>
        <div class="clearfix"></div>
              
    </div>
      <div class="pronoprights01">
      <img src="@Url.Content("~/Content/Home/image/rightimgs01.png")" alt="Pronab Pal Space">
      <div class="abotexts01">
        <h2>Pronab Pal Space Better.</h2>
        <h3>Succeed Together.</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
      </div>
    </div>

