<ul class="side-menu">
    <li><a href="@Url.Action("dashboard", "Account")">Dashboard</a></li>
    <li><a href="@Url.Action("EditProfile", "account")">Edit Profile</a></li>
    <li><a href="@Url.Action("ChangePasswordUser", "account")">Change Password</a></li>

    <li><a href="@Url.Action("add", "flow")">Add Flow</a></li>
    <li><a href="@Url.Action("list", "flow")">Flow List</a></li>

    <li><a href="@Url.Action("add", "spot")">Add Spot</a></li>
    <li><a href="@Url.Action("list", "spot")">Spot List</a></li>

</ul>
